*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.kotlin/errors/errors-1749702839152.log
/.kotlin/errors/errors-1749702926893.log
/.kotlin/errors/errors-1749703300809.log
/.kotlin/errors/errors-1749703336587.log
/.kotlin/errors/errors-1749703815451.log
/.kotlin/errors/errors-1749703866615.log
